.videoIntro {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
}



.swiper-wrapper {
    display: flex;
    align-items: center;
}


.swiper-slide {
    background-color: #000 !important;
}